# vi files
*~
.*.swp

# eclipse files
/.build
/.includepath
/.project
/.externalToolBuilders

# build files
blib/
Makefile
MYMETA.yml
pm_to_blib
/MYMETA.json
/Template-Resolver*.tar.gz
/Template-Resolver*
/*.html
/*.tmp
